:root {
    --primary-bg-color: #0b0e13;
    --primary-color: #cbfe1c;
    --second-color: #354054
}

body,
html {
    background: linear-gradient(rgba(0, 0, 0, .91), rgba(0, 0, 0, .8)),
        url(../images/hero-bg.jpg) center / cover no-repeat;
    background-color: #333;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
    font-family: "Days One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.background {
    background-color: var(--primary-bg-color);
}

.bg-color {
    background-color: var(--primary-color);
}

nav[btt] {
    border-bottom: 2px solid #1e2939;
}

.color {
    color: var(--primary-color);
}

.secund-color {
    color: var(--second-color);
}

.nav-link:not(.color) {
    color: #d8d8d9;
}

.nav-link:hover {
    color: var(--primary-color);
}

.navbar-brand:hover {
    color: var(--primary-color);
}

button[bg]:hover {
    background-color: var(--primary-color);
}

button[bg] {
    margin-right: 1rem;
    font-weight: bolder;
}

.icon {
    display: flex;
    color: #f1f1f1;
}

.icon i {
    margin: 10px;
}

.icon i:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.hero-bg img {
    width: 100%;
    height: 100vh;
    position: static;
}

.main {
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    margin-top: 250px;
    margin-bottom: 250px;
}

.lift h1 {
    font-size: 60px;
}

.main span {
    color: var(--primary-color);
}

.btn button {
    background-color: unset;
    color: var(--primary-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: solid 3px var(--primary-color);
    margin-right: 10px;
    padding: 10px 20px;
}

.btn button:first-child {
    background-color: var(--primary-color);
    color: #1d2414;

}

.btn button:last-child:hover {
    background-color: var(--primary-color);
    color: #1d2414;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.lift p {
    color: #93969b;
    font-size: 1rem;

}

.inner {
    position: relative;
}

.right img {
    width: 100%;
    height: 450px;
    background:
        linear-gradient(to right, #cafe1c, #0fdf72) border-box;
    border: 4px solid transparent;
    /* margin-top: 250px; */
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    margin-left: 2rem;
}

.active {
    position: absolute;
    height: 100px;
    width: 175PX;
    background-color: #0b0e13;
    bottom: -25px;
    left: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid var(--second-color);
}

.active {
    display: flex;
    justify-content: center;
}


.active i {
    color: var(--primary-color);
}

.parg p:first-child {
    color: var(--second-color);

}

.parg {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

.parg p {
    margin-top: 0;
    margin-bottom: 0;

}

.cup {
    margin-top: auto;
    margin-bottom: auto;
}

.sec-2 {
    background-color: #0b0e13;
    padding-top: 150px;
}

.head-sec-2 {
    text-align: center;
}

.head-sec-2 p {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
}

.head-sec-2 p::after {
    content: '';
    display: flex;
    align-self: center;
    height: 3px;
    width: 80px;
    background:
        linear-gradient(to right, #cafe1c, #000) border-box;
    margin-left: 10px;
}

.head-sec-2 p::before {
    content: '';
    display: flex;
    align-self: center;
    height: 3px;
    width: 80px;
    background:
        linear-gradient(to left, #cafe1c, #000) border-box;
    margin-right: 10px;
}

.head-sec-2 h2 {
    font-weight: bolder;
    padding-bottom: 50px;
    margin-bottom: 0px;

}

.game-1 {
    background: url(../images/latest-games-1.png) center / cover no-repeat;
    width: 460px;
    height: 280px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.game-2 {
    background: url(../images/latest-games-2.png) center / cover no-repeat;
    width: 460px;
    height: 280px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 50px;
}

.game-3 {
    background: url(../images/latest-games-3.png) center / cover no-repeat;
    width: 460px;
    height: 280px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 50px;
}

.game-1:hover {
    background: radial-gradient(circle rgb(202, 254, 28, .2));
    border: 3px solid var(--primary-color);
    transition: all ease-in-out 1s;
    -webkit-transition: all ease-in-out 1s;
    -moz-transition: all ease-in-out 1s;
    -ms-transition: all ease-in-out 1s;
    -o-transition: all ease-in-out 1s;
}

.game-1 h3 {
    bottom: 20px;
    left: 20px;
    color: #000;
    display: none;
}

.game-1:hover h3 {
    display: block;
}

.game-1 span:first-child {
    position: absolute;
    background-color: #446225;
    padding: 10px;
    border-radius: 10px;
    top: 10px;
    left: 180px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
}

.game-1 span:last-child {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: #446225;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
}

.game-1:hover span {
    display: block;
}

.game-1:hover {
    background: linear-gradient(to top, rgba(202, 254, 28, .4), rgba(202, 254, 28, .01)), url(../images/latest-games-1.png)center / cover no-repeat;
    border: 3px solid var(--primary-color);
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}

.game-1 h3 {
    bottom: 20px;
    left: 20px;
    color: #000;
    display: none;
}

.game-1:hover h3 {
    display: block;
}

.game-1 span:first-child {
    position: absolute;
    background-color: #446225;
    padding: 10px;
    border-radius: 10px;
    top: 10px;
    left: 180px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
}

.game-1 span:last-child {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: #446225;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
}

.game-1:hover span {
    display: block;
}

/* game 2*/
.game-2:hover {
    background: linear-gradient(to top, rgba(202, 254, 28, .4), rgba(202, 254, 28, .01)), url(../images/latest-games-2.png) center / cover no-repeat;
    border: 3px solid var(--primary-color);
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}

.game-2 h3 {
    bottom: 20px;
    left: 20px;
    color: #000;
    display: none;
}

.game-2:hover h3 {
    display: block;
}

.game-2 span:first-child {
    position: absolute;
    background-color: #446225;
    padding: 10px;
    border-radius: 10px;
    top: 10px;
    left: 180px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
}

.game-2 span:last-child {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: #446225;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
}

.game-2:hover span {
    display: block;
}

/* game 3*/
.game-3:hover {
    background: linear-gradient(to top, rgba(202, 254, 28, .4), rgba(202, 254, 28, .01)), url(../images/latest-games-3.png) center / cover no-repeat;
    border: 3px solid var(--primary-color);
    transition: all ease-in-out .3s;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
}

.game-3 h3 {
    bottom: 20px;
    left: 20px;
    color: #000;
    display: none;
}

.game-3:hover h3 {
    display: block;
}

.game-3 span:first-child {
    position: absolute;
    background-color: #446225;
    padding: 10px;
    border-radius: 10px;
    top: 10px;
    left: 180px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
}

.game-3 span:last-child {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: #446225;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    display: none;
}

.game-3:hover span {
    display: block;
}

.end-sec-2 {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.end-sec-2 div {
    display: flex;
}

.end-sec-2 div div {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: solid 3px var(--second-color);
    display: flex;
    padding: 20px;
    margin-right: 20px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.end-sec-2 div div:hover {
    color: var(--primary-color);
    border: solid 3px var(--primary-color);
    cursor: pointer;
}

.end-sec-2 button {
    background-color: unset;
    color: var(--primary-color);
    border: var(--primary-color) 2px solid;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    padding-inline: 20px;
}

.end-sec-2 button:hover {
    color: #000;
    background-color: var(--primary-color);

}